@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  min-height: 100vh;
  display: grid;
  place-content: center;
  overflow-y: hidden;
  background: linear-gradient(hsl(273deg, 75%, 66%), hsl(266deg, 90%, 55%));
}
@media (min-width: 1440px) {
  body {
    background: linear-gradient(hsl(273deg, 75%, 66%), hsl(240deg, 73%, 65%) 90%);
  }
}
body main {
  width: 350px;
  height: 580px;
  border-radius: 25px;
  padding: 6rem 1.5rem;
  margin-top: 5rem;
  position: relative;
  box-shadow: 0 35px 26px -10px rgba(17, 15, 15, 0.3019607843);
  background: url("../images/bg-pattern-mobile.svg") 45px 0px no-repeat;
  background-color: white;
  background-size: 75%;
}
body main::before {
  content: "";
  display: block;
  position: absolute;
  background: url("../images/illustration-woman-online-mobile.svg") no-repeat;
  transform: translate(8%, -37%);
  width: 75%;
  height: 100%;
  pointer-events: none;
}
@media (min-width: 1440px) {
  body main::before {
    content: "";
    display: block;
    background: url("../images/illustration-box-desktop.svg") no-repeat;
    position: absolute;
    transform: translate(-19%, 24%);
    width: 100%;
    height: 100%;
    background-size: 22%;
    pointer-events: none;
    animation: boxAnimation 3s linear infinite;
  }
  @keyframes boxAnimation {
    0% {
      transform: translate(-19%, 23%);
    }
    50% {
      transform: translate(-19%, 24%);
    }
    100% {
      transform: translate(-19%, 23%);
    }
  }
}
@media (min-width: 1440px) {
  body main {
    display: flex;
    padding: 3.5rem 4rem 4.5rem;
    width: 750px;
    height: 450px;
    margin-top: 0;
    background: url("../images/illustration-woman-online-desktop.svg") no-repeat, url("../images/bg-pattern-desktop.svg") no-repeat;
    background-color: white;
    background-size: 45%, 110%;
    background-position: -50px 75px, -540px -270px;
  }
}
body main .image-wrapper {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 1440px) {
  body main .image-wrapper {
    margin: unset;
  }
}
body main .image-wrapper .main-image {
  margin-top: -162px;
}
@media (min-width: 1440px) {
  body main .image-wrapper .main-image {
    width: 130%;
    margin-top: 18px;
    margin-left: -130px;
  }
}
body main .image-wrapper .box-image {
  display: none;
}
@media (min-width: 1440px) {
  body main .image-wrapper .box-image {
    position: absolute;
    display: block;
    top: 10px;
    left: -50px;
    float: unset;
    width: 120px;
  }
}
body main .image-wrapper .image-shadow {
  position: absolute;
  top: 45px;
  left: 40px;
  width: 78%;
}
@media (min-width: 1440px) {
  body main .image-wrapper .image-shadow {
    z-index: 1;
    display: unset;
    width: 120%;
    top: 180px;
    left: -620px;
  }
}
@media (min-width: 1440px) {
  body main .faq-wrapper {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
}
body main .faq-wrapper h1 {
  margin: 3rem 1.5rem 2.8rem;
  text-align: center;
}
@media (min-width: 1440px) {
  body main .faq-wrapper h1 {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 2rem;
    text-align: left;
    height: max-content;
  }
}
body main .faq-wrapper ul {
  list-style: none;
}
body main .faq-wrapper ul li {
  border-bottom: 1px solid hsl(240deg, 5%, 91%);
  margin-bottom: 1rem;
  font-size: 12px;
  padding-bottom: 1rem;
  cursor: pointer;
  animation: all 160ms linear;
  overflow: hidden;
}
body main .faq-wrapper ul li:hover .question {
  color: hsl(14deg, 88%, 65%);
}
body main .faq-wrapper ul li .question {
  display: flex;
  align-items: center;
  color: hsl(237deg, 12%, 33%);
  font-weight: 300;
  font-size: 14px;
  pointer-events: none;
  animation: all 160ms linear;
}
body main .faq-wrapper ul li .question.clicked-question {
  font-weight: 700;
}
body main .faq-wrapper ul li .answer {
  visibility: hidden;
  opacity: 0;
  height: 0;
  color: hsl(240deg, 6%, 50%);
  line-height: 18px;
  width: 95%;
  transition: all 160ms linear;
}
body main .faq-wrapper ul li .answer.open-answer {
  height: max-content;
  margin-top: 0.6rem;
  visibility: unset;
  opacity: 1;
}
body main .faq-wrapper ul li .arrow {
  margin-left: auto;
  display: block;
  transition: all 160ms linear;
}
body main .faq-wrapper ul li .arrow.arrow-animation {
  transform: rotate(180deg);
}

/*# sourceMappingURL=styles.css.map */
